<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Doodle Classifier</title>
    <!--Styles-->
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  </head>


  <body>
    <header>
      <h1 id="heading"> Doodle Classification with Convolutional Neural Networks </h1>
      <hr/>
    </header>
  
    </br>
    
    <main>
      <div id="main-area">
        <span>
          <span id="call_to_action">Draw a Doodle inside this Box!</span>
          </br>
          <canvas id="canvas" width="280" height="280"> </canvas>
          </br>
          <button id="predict" class="push_buttons" style="left: 40px; top: 15px;">Predict</button>
          <button id="clear" class="push_buttons" style="left: 60px; top: 15px;">Clear</button>
        </span>

        <span>
            <table>
              <caption><h2>Following objects can be Recognized...</h2></caption>
                <tr> 
                  <td>Axe</td>
                  <td>Airplane</td>
                  <td>Apple</td>
                  <td>Banana</td>
                  <td>Baseball</td>
                  <td>Baseball bat</td>
                </tr>

                <tr>
                  <td>Birthday Cake</td>
                  <td>Book</td>
                  <td>Bucket</td>
                  <td>Bus</td>
                  <td>Candle</td>
                  <td>Camera</td>
                </tr>

                <tr>
                  <td>Car</td>
                  <td>Cell Phone</td>  
                  <td>Cloud</td>
                  <td>Coffee Cup</td>
                  <td>Crown</td>
                  <td>Dolphin</td>
                </tr>

                <tr>
                  <td>Donut</td>
                  <td>Dumbbell</td>
                  <td>Envelope</td>
                  <td>Eye</td>
                  <td>Eyeglasses</td>
                  <td>Finger</td>
                </tr>

                <tr>
                  <td>Fish</td>
                  <td>Flashlight</td>  
                  <td>Flower</td>
                  <td>Fork</td>
                  <td>Golf Club</td>
                  <td>Hammer</td>
                </tr>

                <tr>
                  <td>Hand</td>
                  <td>Headphones</td>
                  <td>Hot Air Balloon</td>
                  <td>Hourglass</td>
                  <td>Ice Cream</td>
                  <td>Key</td>
                </tr>

                <tr>
                  <td>Knife</td>  
                  <td>Ladder</td>
                  <td>Leaf</td>
                  <td>Light Bulb</td>
                  <td>Lightning</td>
                  <td>Mountain</td>
                </tr>
    
                <tr>
                  <td>Mushroom</td>
                  <td>Octagon</td>  
                  <td>Pencil</td>
                  <td>Pliers</td>
                  <td>Screwdriver</td>
                  <td>See Saw</td>
                </tr>

                <tr>
                  <td>Star</td>
                  <td>Sword</td>
                  <td>Syringe</td>
                  <td>Tooth</td>
                  <td>Toothbrush</td>
                  <td>Traffic Light</td>
                </tr>

                <tr>
                  <td>T-Shirt</td>
                  <td>Umbrella</td>
                  <td>Vase</td>
                  <td>Windmill</td>
                  <td>Wine Glass</td>
                  <td>Zigzag</td>
                </tr>

              </table>
        </span>
      </div>

      <br/>

      <div id="response-area" style="	display: flex; flex-direction: row; justify-content: center;">
        <span>
          <h2>Predicted Output</h2>
            <ul>
              <li id="result"></li>
            </ul>
          <h2>Lesser Probable Possibilities</h2>
            <ul>
              <li id="similar1"></li>
              <li id="similar2"></li>
            </ul>
        </span>
      </div>
          
    </main>

    
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="{{ url_for('static',filename='index.js') }}"></script>


    <script>
      $("#predict").click(function(){
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        var canvasObj = document.getElementById("canvas");
        var img = canvasObj.toDataURL();
        $.ajax({
          type: "POST",
          url: $SCRIPT_ROOT + "/predict/",
          data: img,
          success: function(data){
          $('#result').text(JSON.parse(data)["0"]);
          $('#similar1').text(JSON.parse(data)["1"]);
          $('#similar2').text(JSON.parse(data)["2"]);
          }
        });
      });
    </script>

  </body>

</html>
